<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .bg-teal{
        background-color: teal;
    }
</style>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1>{{ titolo }}</h1>
        <p> La data di oggi è {{ data }}</p>

        <hr>

        <input type="text" v-model="inputValue" placeholder="Srivi...">
        <button @click="printValue">CLICK ME</button>

        <p>La stringa che hai scritto nell'input è: <strong>{{ printedValue }}</strong></p>

        <hr>

        <input type="number" placeholder="Scrivi dei numeri" v-model="inputNumberValue">
        <p>Stampo immediatamente i numeri che scrive l'utente <strong>{{ inputNumberValue }}</strong></p>

        <hr>

        <select v-model="destination">
            <option value="0">Roma</option>
            <option value="1">Milano</option>
            <option value="2">Firenze</option>
        </select>

        <select v-model="discount">
            <option value="0">Standard</option>
            <option value="1">Minorenne</option>
            <option value="2">Over 65</option>
        </select>

        <button @click="calculatePrice">Calcola prezzo</button>
        <p>Il prezzo finale è di <strong> {{ finalPrice }} €</strong></p>   
        
        <hr>

        <!-- V-BIND WITHOUT ARGUMENT -->
        <div v-bind="propertyNames">Qui ho inserito un id e una class con il v-bind senza argomento</div>

        <img :src="srcPath">

        <!-- PRINT ON SCREEN WITH v-for CYCLING AN ARRAY  -->
        <ul>
            <li v-for="name in names">
                {{ name }}
            </li>
        </ul>

        <!-- ADDED INDEX + TENERARY OPERATOR -->
        <ul>
            <li v-for="(name, i) in names" :class="i === 1 ? 'bg-teal' : '' ">
                {{ i }} - {{ name }}
            </li>
        </ul>

        <!-- PRINT MULTIPLE DIV WITH v-for + TENERARY OPERATOR -->
        <div v-for="n in 10">
            {{ n }} {{ n % 2 === 0 ? 'even' : 'odd'}}
        </div>
    </div>
    
    <script src="./js/app.js"></script>
</body>
</html>