<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        <h1>{{ titolo }}</h1>
        <p> La data di oggi è {{ data }}</p>

        <hr>

        <input type="text" v-model="inputValue" placeholder="Srivi...">
        <button @click="printValue">CLICK ME</button>

        <p>La stringa che hai scritto nell'input è: <strong>{{ printedValue }}</strong></p>

        <hr>

        <input type="number" placeholder="Scrivi dei numeri" v-model="inputNumberValue">
        <p>Stampo immediatamente i numeri che scrive l'utente <strong>{{ inputNumberValue }}</strong></p>

        <hr>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>